
body{
  font-family:'Hannari';
  background-image: url("../image_main/alex-mecl-4GcBRDyNc4s-unsplash.png");
  background-size: cover;
}


@media screen and(max-width: 959px) {
  body{
    font-family:'Hannari';
    background-image: url("../image_main/photo-1580238053495-b9720401fd45.png");
    background-size: cover;
  }
  
  .box2 {
    padding: 0.5em 1em;
    margin: 2em 2%;
    font-weight: bold;
    display:flex;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    opacity: 0.9;
  }
  .box2 p {
    margin: 0; 
    padding: 0;
  }

  .img-p {
    text-align: center;
  }
  .img {
    width : auto ; /* 画面幅の50％ */
    height: 20%;
   
    border-radius: 30px;
    border:solid 5px #3dffcb
  }
}
@media screen and(min-width: 960px) {
  .box2 {
    padding: 0.5em 1em;
    margin: 2em 20%;
    font-weight: bold;
    display:flex;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    opacity: 0.9;
  }
  .box2 p {
    margin: 0; 
    padding: 0;
  }

  .img-p {
    text-align: center;
  }
  .img {
    width : 85% ; /* 画面幅の50％ */
    height: auto;
    max-height: 20%;
    border-radius: 30px;
    border:solid 5px #2cffc0
  }
  
}





.Diagnosis{
  width:100%;
  margin:0 auto;
  overflow:hidden;
}
.result{
  width:97%;
  margin:0 auto;
  display:flex;
  text-align:center;
  font-weight:bold;
  display:none;
  &.__active{
    display:block;
  }
  &_inner{
    padding:50px 0;
    font-size:20px;
  }
  &_contents{
    width:100%;
    //border:15px solid #83ffa8;
    transition: all 1.5s;
    padding:0px 0px;
    font-size:50px;
    box-sizing:border-box;
  }
}
.menubox{
  overflow:hidden;
  justify-content:center;
  display:flex;
  padding:80px 0;
  text-align:center;
  font-size:30px;
  width:100%;
  margin:0 auto;
  opacity:0;
  transition:all .4s ease .5s;
  &.__hide{
    display:none;
  }
  &.__active{
    opacity:1;
  }
}
.menuttl{
  width:100%;
  text-align:center;
  font-size:1.8rem;
  vertical-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.menuttl .txt{
  display:inline-block;
  vertical-align:center;
  font-size:2.5rem;
  margin-left: 2rem;
}
.menuItem{
  min-width:100%;
  transition: all 1.5s;
  padding:10px 0;
  display:flex;
  justify-content:start;
  align-items:center;
  flex-wrap:wrap;
  label{
    padding:10px;
    cursor:pointer;
    position:relative;
    display:inline-block;
    margin-right: 10px;
    
    
    input{
      display:none;
    }
    input + .btn{
        border:1px solid #CCC;
        content:"";
        width:100%;
        height:100%;
      display:block;
      position:absolute;
      top:0;
      left:0;
      border-radius:8px;
      transition:.8;
     }
  }
  input:checked + .btn{
    background:#ff6500;
    border:1px solid #ff6500;
  }
  input:checked + .btn + .btn-txt{
    color:#FFF;
  }
  .btn-txt{
    z-index:10;
    position:relative;
  }
  .menuRadio{
    margin-top: 40px;
    min-width:100%;
   padding:10px;
    font-size:20px;
  }
}







.slide-enter-active {
  transition: all 1.6s ease 0.4s;
 }
 .slide-leave-active {
  transition: all 0.5s ease 0s;
 }
 .slide-leave-active {
  position: absolute;
  
 }
 .slide-enter,
 .slide-leave-to {
  opacity: 0;
 }
 .slide-enter {
  transform: translateX(120px);
 }
 .slide-enter-to,
 .slide-leave {
  transform: translateX(0);
 }
 .slide-leave-to {
  transform: translateX(-120px);
  opacity: 0;

body{
  font-family:'Hannari';
}

.box2 {
  padding: 0.5em 1em;
  margin: 2em 12%;
  font-weight: bold;
  display:flex;
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.box2 p {
  margin: 0; 
  padding: 0;
}


.Diagnosis{
  width:100%;
  margin:0 auto;
  overflow:hidden;
}
.result{
  width:90%;
  margin:0 auto;
  display:flex;
  text-align:center;
  font-weight:bold;
  display:none;
  &.__active{
    display:block;
  }
  &_inner{
    padding:50px 0;
    font-size:20px;
  }
  &_contents{
    width:100%;
    border:15px solid #6f00ff;
    transition: all 1.5s;
    padding:100px 20px;
    font-size:50px;
    box-sizing:border-box;
  }
}
.menubox{
  overflow:hidden;
  justify-content:center;
  display:flex;
  padding:80px 0;
  text-align:center;
  font-size:30px;
  width:100%;
  margin:0 auto;
  opacity:0;
  transition:all .4s ease .5s;
  &.__hide{
    display:none;
  }
  &.__active{
    opacity:1;
  }
}
.menuttl{
  width:100%;
  text-align:center;
  font-size:1.8rem;
  vertical-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.menuttl .txt{
  display:inline-block;
  vertical-align:center;
  font-size:2.5rem;
  margin-left: 2rem;
}
.menuItem{
  min-width:100%;
  transition: all 1.5s;
  padding:10px 0;
  display:flex;
  justify-content:start;
  align-items:center;
  flex-wrap:wrap;
  label{
    padding:10px;
    cursor:pointer;
    position:relative;
    display:inline-block;
    margin-right: 10px;
    
    
    input{
      display:none;
    }
    input + .btn{
        border:1px solid #CCC;
        content:"";
        width:100%;
        height:100%;
      display:block;
      position:absolute;
      top:0;
      left:0;
      border-radius:8px;
      transition:.8;
     }
  }
  input:checked + .btn{
    background:#ff6500;
    border:1px solid #ff6500;
  }
  input:checked + .btn + .btn-txt{
    color:#FFF;
  }
  .btn-txt{
    z-index:10;
    position:relative;
  }
  .menuRadio{
    margin-top: 40px;
    min-width:100%;
   padding:10px;
    font-size:20px;
  }
}
.slide-enter-active {
  transition: all 1.6s ease 0.4s;
 }
 .slide-leave-active {
  transition: all 0.5s ease 0s;
 }
 .slide-leave-active {
  position: absolute;
  
 }
 .slide-enter,
 .slide-leave-to {
  opacity: 0;
 }
 .slide-enter {
  transform: translateX(120px);
 }
 .slide-enter-to,
 .slide-leave {
  transform: translateX(0);
 }
 .slide-leave-to {
  transform: translateX(-120px);
  opacity: 0;
}
}